body {
    display: flex;
    background-color: #110502;
    position:relative;
    flex-direction: column;
    box-sizing: border-box;
}

#nav {
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 10vh;
    font-size: 1.5rem;
}
 
#nav a {
    margin-right: 2em;
    text-decoration: none;
    color: #FFE8BB;
}

#nav a:hover {
    padding: 0.5em;
    border-bottom: 2px solid #F1C965;
}

#artists{
    display: flex;
    flex-direction: column;
}
.row {
    height: 50vh;
    display: flex;

}
.artist, .image {
    display: inline-block;
    
}
.artist{
    background-color: #FC5E13;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .artist:nth-child(1) {
    background-color: #F1C965;
}

.artist img {
    width: 35vh;
    height: 40vh;
    object-fit: cover;
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.25);
    
}

.image{
    width: 50%;
    background-size: cover;
    background-position: center center;
}

#pic1{
    background-image: url("images/eduardo-vaccari-pIltvcnqsfU-unsplash.jpg");
}
#pic2 {
    background-image: url("images/jj-jordan-eenumTwM6Ec-unsplash.jpg");
}

#pic3{
    background-image: url("images/jasmin-chew-WbWOF8z_NGQ-unsplash.jpg");
    background-position: center left;
}
#pic4 {
    background-image: url("images/pexels-lucas-guimarÃ£es-5131402.jpg");
}

#policies {
    position: relative;
    display: flex;
   
}

#title {
    color: #FFE8BB; 
    background-color: #FC5E13; 
    padding: 5vh;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    height: 100%;
    right: 10vh;
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

#faq {
    box-sizing: border-box;
    color: #FFE8BB; 
    display: inline-block;  
    padding: 10vh;

}

.text {
    padding: 5vh;
}

#contact {
    display: flex;
    position:relative;
    background-color: #110502;
    padding: 5vh;
    color: #FFE8BB; 
    font-size: 1.5rem;
}
.text img{
    height: 25vh;
    width: 50vh; 
}